/* ייבוא פונט חדש - Raleway */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #f9efe0; /* גוון בז' */
    font-family: 'Raleway', sans-serif;
    overflow: hidden; /* מניעת גלילה */
    display: flex;
    flex-direction: column;
}


.home-container {
    text-align: center;
    padding: 200px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

h1 {
    color: #8b4513;
    font-size: 3.5em;
    margin-bottom: 30px;
    font-weight: 6000;
    letter-spacing: 1px;
    text-shadow: 0 0 5px rgba(139, 69, 19, 0.1),
    0 0 10px rgba(139, 69, 19, 0.1),
    2px 2px 4px rgba(139, 69, 19, 0.3);
}

p {
    font-size: 18px;
    line-height: 1.6;
    color: #8b4513;
    margin-bottom: 20px;
    font-weight: 300;
}

.hearts {
  top: 300px;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.heart {
    color: #8b4513;
    font-size: 24px;
}

/* אנימציה מעודכנת ללב האמצעי */
@keyframes heartPulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

.heart:nth-child(2) {
    animation: heartPulse 1.5s ease-in-out infinite;
}